doctype
html(lang="en")
  head
    != partial("_partials/head")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@shugar348")
    meta(name="twitter:creator" content="@shugar348")
    meta(property="og:image" content="#{ post_image }")
    meta(property="og:title" content="#{ title }")
    meta(property="og:site_name" content="#{page_tagline}")
    meta(property="og:description" content="#{ page_description }")
    meta(property="fb:app_id" content="[1458155574513410]")
    meta(property="og:type" content="website")
    meta(property="og:locale" content="en_US")

  body
    a.page-back(href="/jekyll-test") &larr;
    article(aria-role="main")
      .container
        .post
          h1!= title 
          span.text-muted!= date
          != yield
        if enable_comments
          h3!= comment_cta||"What are your thoughts?"
          #disqus_thread
          script.
            var disqus_shortname = "#{ disqus_shortname }";
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
    if !exclude_footer
      != partial("_partials/footer")